.contatoPage {
    --background: rgb(248 250 252);
    --padding-start: 2.25rem;
    --padding-end: 1.5rem;
    @apply h-full bg-slate-50 flex flex-col;

    .custom-textarea{
        height: 100%;
    }
}