.contatoPage {
    --background: var(--main-BG);
    --padding-start: 2.25rem;
    --padding-end: 1.5rem;
    color: var(--ion-text-color);
    @apply h-full flex flex-col;

    .custom-textarea{
        height: 100%;
    }
}