ion-content.mainPage {
  --background: var(--main-BG);
  --padding-start: 2.25rem;
  --padding-end: 1.5rem;
  color: var(--ion-text-color);
  @apply px-9 py-6 h-full flex flex-col;

  ion-searchbar.custom {
    --background: var(--item-color);
    --color: #8B8B8B;
    --placeholder-color: #8B8B8B;
    --icon-color: #8B8B8B;
    --clear-button-color: #8B8B8B;

    --border-radius: 8px;
    @apply mt-6;
  }

  ion-searchbar.ios.custom {
    --cancel-button-color: #8B8B8B;
  }

  ion-searchbar.md.custom {
    --cancel-button-color: #8B8B8B;
  }
}